/*Colors

	#F2D579
	#F7EDD6
	#A25E34
	#F0A478
	#A79994

*/


* {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
}

#active-button {
	background: #F0A478;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 0 2rem;
	font-size: 0.75rem;
	max-width: 60rem;
	margin: 0 auto;
	width: fit-content;
}

header {
	width: 100%;
	height: fit-content;
}

header h1 {
	text-align: left;
	font-size: 36px;
	padding: 1rem 0;
	font-weight: bold;
}

header h1 a {
	color: #F0A478;
}

header h1 a:hover {
	color: #F2D579;
}

header .bg {
	height: 200px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

header .bg .mast {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .bg .mast span {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

header .bg .mast i {
	color: #FED1C2;
	font-size: 15px;
}

header ul {
	width: auto;
	list-style: none;
	text-transform: capitalize;
	text-align: center;
}

header ul li {
	width: auto;
	margin: 10px;
	padding: 5px;
	border: 1px solid #2e7d32;
}

header ul li:hover {
	border: 1px solid #F0A478;
}

header ul li a {
	padding: 5px 160px 5px 160px;
	color: #2e7d32;
}

header ul li a:hover {
	color: #F0A478;
}

.container .btn button {
	display: table-row;
	vertical-align: middle;
	width: 100%;
	margin: 0 .5rem .5rem 0;
	padding: .5rem 7.5rem;
	color: #424242;
	background: #2e7d32;
	border: 1px solid #bdbdbd;
	outline: none;
	cursor: pointer;
	transition: all 250ms ease-out;
}

.container .btn button:hover {
	border: 1px solid #558b2f;
	background-color: #F0A478;
}

.content h1 {
	font-family: 'Alegreya', serif;
	text-align: left;
	color: #F0A478;
}

footer .container {
	height: 100px;
	background: #2e7d32;
}

footer .container ul {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

footer .container ul li {
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	font-size: 25px;
}

i.fa.fa-facebook,
i.fa.fa-twitter,
i.fa.fa-instagram {
	color: #004d40;
	padding: 20px;
}

i.fa.fa-facebook:hover,
i.fa.fa-twitter:hover,
i.fa.fa-instagram:hover {
	color: #F0A478
}

@media only screen and (min-width: 30rem) {
	body {
		font-size: 1rem;
	}

	header ul {
		display: block;
		list-style: none;
		margin: 10px auto;
		width: fit-content;
	}

	header ul li {
		width: 180px;
		display: inline-block;
		font-family: 'Alegreya Sans', sans-serif;
		margin: 0 1rem 0 0;
		padding: 5px 16px;
		text-transform: uppercase;
		border: 1px solid #262626;
		transition: all 250ms ease-out;
	}

	header ul li:hover {
		border: 1px solid #2e7d32;
	}

	header ul li a {
		padding: 5px 15px;
	}

}

.container section {
	text-align: justify;
	color: #616161;
	font-weight: normal;
	margin: 10px 0;
}

.container .btn {
	display: table;
	margin: .5rem auto;
}

main .content {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 35rem) {

	.container .btn {
		display: block;
		margin: 1rem auto;
		width: fit-content;
	}

	.container .btn button {
		display: inline-block;
		margin: 0 1rem 1rem 0;
		padding: 1rem 1.5rem;
		font-size: 1rem;
		width: 300px;
	}
}
.content {
	margin: 1rem auto;
	width: fit-content;
}

.content img {
	width: 350px;
	height: 350px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.content p {
	margin-top: .75rem;
	text-align: justify;
	color: #424242;
}

@media only screen and (min-width: 30rem) {

	body {
		font-size: 1rem;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr auto;
		grid-column-gap: 2rem;
		grid-row-gap: 1rem;
		justify-items: center;
		align-items: center;
	}

	.content h1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		justify-content: start;
	}

	.content img {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		justify-self: start;
		left: 0;
		transform: translateX(0%);
		box-shadow: 4px 4px 20px 1.5px #0000008a;
	}

	.content p {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
		justify-self: center;
	}

}

#active {
	border: 1px solid #558b2f;
	background-color: #dcedc8;
	color: #558b2f;
}